<div class="modal" id="modal-create-articles" style="display: none;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		  <div class="modal-header">
			<h5 class="modal-title" id="">Ajouter un article</h5>
			<button type="button" class="close btn-cancel-create-article" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  
		  <div class="modal-body">
			<form id="form-create-article" method="POST" action="" enctype="multipart/form-data">
				<div class="form-group">
					<label for="nom-article">Nom de l'article</label>
					<input type="text" name="nom_article" class="form-control" id="nom-article" required/>
				</div>
				<div class="form-group">
					<label for="detail-article">detail de l'article</label>
					<input type="text" name="detail_article" class="form-control" id="detail-article" required/>
				</div>
				<div class="form-group"> 
					<label for="prix-article">prix de l'article</label>
					<input type="number" name="prix_article" class="form-control" id="prix-article" required/>
				</div>
	
				<div class="form-group">
					<label for="categorie-article">categorie de l'article</label>
					<select name="categorie_article" class="form-control" id="select-categories" required>
					</select>
				</div>
			
				<div class="form-group">
					<label for="categorie-article">Image</label>
					<input type="file"  name="image_article" class="form-control-file" id="image-article" required>
				</div>
			</form>
		</div>

		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary btn-cancel-create-article">Annuler</button>
			<button type="button" id="btn-create-article" class="btn btn-primary">Créer</button>
		  </div>
		  
		</div>
	  </div>
	
</div>
