<div class="modal" id="modal-delete-articles" style="display: none;">
	<div class="modal-dialog" role="document">

	  	<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="">Ajouter une catégorie</h5>
				<button type="button" class="close btn-cancel-delete-article" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
                <input type="number" name="article_id" id="article_id" hidden>
                <input type="text" name="article_nom" id="article_nom" hidden>
                
				<p>Voulez vous vraiment supprimer l'article <span id="article_nom_delete"></span> ? </p>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-cancel-delete-article" data-dismiss="modal">Close</button>
				<button type="button" id="btn-delete-article" class="btn btn-danger">Save changes</button>
			</div>

		</div>
	</div>
</div>