<div id="modal-create-articles" style="display: none;">
	<div>
		<label for="nom-article">Nom de l'article</label>
		<input type="text" name="nom_article" id="nom-article" />
	</div>
	<div>
		<label for="detail-article">Détail de l'article</label>
		<input type="text" name="detail_article" id="detail-article" />
	</div>
	<div>
		<label for="prix-article">Prix de l'article en €</label>
		<input type="text" name="prix_article" id="prix-article" />
	</div>
	<div>
		<label for="image-article">Image de l'article</label>
		<input type="text" name="image_article" id="image-article" />
	</div>
	<div>
		<label for="categorie-article">Catégorie de l'article</label>
		<select name="categorie_article" id="categorie-article">
			<option value="1">cat1</option>
			<option value="2">cat2</option>
		</select>
	</div>

	<div>
		<button type="submit">Creer</button>
	</div>
</div>
