<div class="modal" id="modal-edit-articles" style="display: none;">
	<div>
		<label for="nom-article">Nom de l'article</label>
		<input value="" type="text" name="nom_article" id="nom-article" />
	</div>
	<div>
		<label for="detail-article">Détail de l'article</label>
		<input value="" type="text" name="detail_article" id="detail-article" />
	</div>
	<div>
		<label for="prix-article">Prix de l'article en €</label>
		<input value="" type="text" name="prix_article" id="prix-article" />
	</div>
	<div>
		<label for="image-article">Image de l'article</label>
		<input value="" type="text" name="image_article" id="image-article" />
	</div>
	<div>
		<label for="categorie-article">Catégorie de l'article</label>
		<select name="categorie_article" id="categorie-article">
			<option value="" disabled selected>Veuillez choisir une catégorie</option>
		</select>
	</div>

	<div>
		<button class="btn btn-success" id="btn-edit-article">Modifier</button>
		<button class="btn btn-secondary" id="btn-cancel-edit-article">Annuler</button>
	</div>
</div>
