<% include ../layouts/doctype.ejs %>


<div class="mx-auto d-flex justify-content-center p-5">
  <div class="card-deck">
    <% include partials/cardCategorieArticles.ejs %>
    <% include partials/cardCategorieArticles.ejs %>
  </div>
</div>



<% include ../layouts/doctype_end.ejs %>