<% include ../layouts/doctype.ejs %>


<div class="col-md-4">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Login</h1>
        </div>
        <div class="panel-body">
            <form role="form" action="" method="POST">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="E-mail" name="mail" type="email" autofocus="">
                    </div>

                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="mdp" type="password" value="">
                    </div>

                    <a href="javascript:;" class="btn btn-sm btn-success">Connexion</a>
                </fieldset>
            </form>
        </div>
    </div>
</div>



<% include ../layouts/doctype_end.ejs %>