<% include ../layouts/doctype.ejs %>


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="login-card-light p-3 shadow-lg rounded" style="margin-top: 20%;">
            <div class="pt-3">
                <h2 class="text-danger">Inscris toi</h2>
            </div>

            <form class="mt-5" role="form" action="/users/create" method="POST">

                <div class="form-row">
                    <div class="col">
                        <label>Votre nom</label>
                        <input type="text" name="nom_user" class="form-control form-control-sm">
                    </div>
                    <div class="col">
                        <label>Votre prenom</label>
                        <input type="text" name="nom_user" c class="form-control form-control-sm">
                    </div>
                </div>




                <label>Email</label>
                <div class="form-group">
                    <input type="email" name="email_user" class="form-control form-control-sm">
                </div>

                <label>Mot de passe</label>
                <div class="form-group">
                    <input type="password" name="passord_user" class="form-control form-control-sm">
                </div>

                <div class="form-row">
                    <div class="col">


                        <label>Votre adresse de livraison</label>
                        <div class="form-group">
                            <input type="text" name="adresse_user" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="col">

                        <label>Votre numéro de téléphone</label>
                        <div class="form-group">
                            <input type="tel" name="telephone_user" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>

                <div class="mt-5">
                    <button class="btn btn-sm btn-danger col">
                        Inscription
                    </button>
                </div>

                <div class="text-center mt-2">
                    <a href="/login">Clique ici pour te connecter</a>
                </div>


            </form>
        </div>
    </div>
</div>
<% include ../layouts/doctype_end.ejs %>