<section class="footer pt-5"style="margin-top: 70px;">
    <div class="container">
	<div class="row d-flex ">
            <div class="col-md-3 col-xs-3">
                
                <h1><b>TEM STOR :-:</b></h1>
                
            </div>
            <div class="col-md-3 col-xs-3">
                <h5><b>Menu</b></h5>

                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Acceuil</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Inscription</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Connexion</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-xs-3">
                <h5><b>Products</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark">Catégories</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Vêtement</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark">Bijoux</a></li>
                    
                </ul>
            </div>
            <div class="col-md-3 col-xs-3">
                <h5><b>Nos resaux</b></h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-dark"><i class="fa fa-apple mr-2"></i>Facebook</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark"><i class="fa fa-android mr-2"></i>Twitter</a></li>
                    <div class="mt-2"></div>
                    <li><a href="#" class="text-dark"><i class="fa fa-btc mr-2"></i>Youtube</a></li>
                    
                </ul>
            </div>
            
        </div>
</div>
<div class="py-2 bg-info border-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <small>© 2019 NextApp. All Rights Reserved</small>
            </div>
        </div>
    </div>
</div>
</section>
 