<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Panier-client</a>
</button>
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="/">Acceuil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Vêtements</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Bijoux</a>
    </li>
</ul>
<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a href="/login" class="nav-link">Connexion</a>
    </li>
    <li class="nav-item">
        <a href="/signup" class="nav-link">Inscription</a>
    </li>
    <li class="nav-item">
        <a href="/admin" class="nav-link">Admin</a>
    </li>
    <li class="nav-item">
        <a href="" class="nav-link">Mes paniers</a>
    </li>
</ul>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </nav>