
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <a class="navbar-brand" href="/">Acceuil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
     
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catégorie            
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Vêtement</a>
              <a class="dropdown-item" href="#">Bijoux</a>
              <!-- <a class="dropdown-item" href="#">Autre Catégorie</a> -->
            </div>
          </li>
          <% if(locals.user.panier) { %> 
            <li class="nav-item">
                <a href="/paniers/<%=locals.user.panier.id%>" class="nav-link mon-panier-link">Mon panier</a>
            </li>
          <%}%>
      
      </ul>
      <ul class="navbar-nav ml-auto">
        <% if(!locals.user.nom) { %>
          <li class="nav-item">
              <a href="/login" class="nav-link">Connexion</a>
          </li>
          <li class="nav-item">
              <a href="/signup" class="nav-link">Inscription</a>
          </li>

        <%}%>

        <% if(locals.user.role == 1 ) { %> <%# 1 is admin %>
        <li class="nav-item">
            <a href="/admin" class="nav-link">Admin</a>
        </li>
        <%}%>

        <% if(locals.user.nom) { %> 
          <li class="nav-item">
            <a data-current-user-id="<%=user.id%>" href="#" class="nav-link font-weight-bold"><%=locals.user.nom%></a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">Déconnexion</a>
          </li>
          
        <%}%>
    </ul>
    </div>
  </nav>