
<%if (locals.panier) { %> 
    <%=panier.id %>
<%}%> 
<div class="row bg-white m-2">
        <div class="card-img-right">
            <img src="https://via.placeholder.com/150" alt="">
        </div>
        <div class="card-body p-2 d-flex justify-content-around">
            <div class="col">
                <div class="row">
                    <div class="card-title">
                        <h5>_article.nom</h5>
                    </div>
                    <div class="button-delete">
                        <button>supprimer</button>
                    </div>
                </div>
                <div class="card-text">
                    _article.prix
                </div>
            </div>
            <div class="col">
               <div class="form-group">
                   <label for="">Quantité</label>
                   <input class="from-control" type="number">
               </div>
            </div>
        </div>
    </div>
</div>