   <div class="container">
       <h2 class="text-center">Espace commantaire</h2>

       <% for(let i=0; i < commentaires.length; i++) {%>

       <div class="card">
           <div class="card-body">
               <div class="row">
                   <div class="col-md-2">
                       <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid" />
                   </div>
                   <div class="col-md-10">
                       <p>
                           <a class="float-left"><strong><%=commentaires[i].id%> </strong></a>


                       </p>
                       <div class="clearfix"></div>
                       <p><%=commentaires[i].description%></p>
                       <p><%=commentaires[i].utilisateurs_id%></p>
                       <p>
                           <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                           <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                       </p>
                   </div>
               </div>

           </div>

       </div>
       <% } %>

   </div>