<% for(let i=0; i < commentaires.length; i++) {%>
    <div>
        <div>id :<%=commentaires[i].id%> </div>
        <div>nom : <%=commentaires[i].description%></div>
        <div>id utilisateur : <%=commentaires[i].utilisateurs_id%></div>
        <br>
    </div>
            
<% } %>