<div id="modal-create-categories" style="display: none;">
	<div>
		<label for="nom-categorie">Nom de la categorie :</label>
		<input type="text" name="nom_categorie" id="nom-categorie" />
	</div>
	<div>
		<label for="active-categorie">Status :</label>
		<select name="active_categorie" id="active-categorie">
			<option value="0">Inactive</option>
			<option value="1">Active</option>
		</select>

		<div>
			<button type="submit">Creer</button>
		</div>
	</div>
</div>
