<div id="modal-edit-categories" style="display: none;">
	<div>
		<label for="nom-categorie">Nom de la categorie :</label>
		<input value="" type="text" name="nom_categorie" id="nom-categorie" />
	</div>
	<div>
		<label for="active-categorie">Status :</label>
		<select name="active_categorie" id="active-categorie"> </select>

		<div>
			<button type="submit">Modifier</button>
		</div>
	</div>
</div>
