<form action="/articles/create" method="POST">
    <div>
        <label for="nom-article">Nom de l'article</label>
        <input type="text" name="nom_article" id="nom-article">
        
    </div>
    <div>
        <label for="detail-article">detail de l'article</label>
        <input type="text" name="detail_article" id="detail-article">

    </div>
    <div>
        <label for="prix-article">prix de l'article</label>
        <input type="text" name="prix_article" id="prix-article">

    </div>
    <div>
        <label for="image-article">image de l'article</label>
        <input type="text" name="image_article" id="image-article">

    </div>
    <div>
        <label for="categorie-article">categorie de l'article</label>
        <select name="categorie_article" id="categorie-article">
            <option value="1">cat1</option>
            <option value="2">cat2</option>
        </select>

    </div>

    <div>
        <button type="submit">Creer</button>
    </div>
</form>