<% include ../layouts/doctype.ejs %>

<section class="article">
  <div class="container">
<div class="card-deck m-3">
    <% articles.forEach(function(article){ %>
      <div id="card-articles"class="col-lg-4"style="  margin-top: 20px;
      margin-bottom: 20px;">
        <%- include('partials/cardArticles', {article: article}); %>
      </div>
    <% }); %>
</div>
</div>


         <!-- Pagination -->

         <div class="text-center">
          <nav aria-label="Page navigation example" style="display: inline-block;">
             <ul class="pagination ">
                <%for(let i =1; i <= pageCount;  i++ ) {  %>
                <li class="page-item active"><a class="page-link" href="/articles?page=<%=i%>"><%=i%></a></li>
                <% } %>
             </ul>
          </nav>
       </div>
</section>

<% include ../layouts/doctype_end.ejs %>