<% include ../layouts/doctype.ejs %>

<section class="article">
  <div class="container">
<div class="card-deck m-3">
    <% articles.forEach(function(article){ %>
      <div class="col-lg-4">
        <%- include('partials/cardArticles', {article: article}); %>
      </div>
    <% }); %>
</div>
</div>

</section>

<% include ../layouts/doctype_end.ejs %>