<% include ../layouts/doctype.ejs %>

<div class="card-deck m-3">
    <% include partials/cardArticles.ejs %>
    <% include partials/cardArticles.ejs %>
    <% include partials/cardArticles.ejs %>
    <% include partials/cardArticles.ejs %>
  </div>

<% include ../layouts/doctype_end.ejs %>