* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Nunito", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FADA95	;
}

a {
  color: #00B7FF;
}
#header-jumbotron{
  background-color: #2A90AB;
}
/******CARD-ARTICLE*****/
div#card-article.col-lg-4{
  margin-top: 20px;
    margin-bottom: 20px;
}
.card-img-top{
  height: 23vh;
  object-fit: cover;
}
.article-card{
  box-shadow: 0px 0px 33px #00000029;
}
.input-number{
  font-size: 25px;
  font-weight: bold;
}


/***** PANIER *******/
.quantite-input{
  width: 60px;
}

.panel-prix-total{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  left: 0;
}

.card-img-right{
  min-height: 80px;
}


@media screen and (max-width: 767px) {
  .panel-prix-total{
    position: initial;
    position: fixed;
    right: 0;
    margin: 0 !important;
    padding-bottom: 0 !important;
    top: initial;
    
  }

  .panel-liste-articles{
    padding-bottom: 100px;
  }

  .button-delete{
    position: absolute;
    right: 40px;
  }
  .order-btn{
    width: 100%;
    border-radius: 0;
  }
}
