* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Nunito", "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FADA95	;
}

a {
  color: #00B7FF;
}
#header-jumbotron{
  background-color: #2A90AB;
}
/******CARD-ARTICLE*****/
div#card-article.col-lg-4{
  margin-top: 20px;
    margin-bottom: 20px;
}
.card-img-top{
  height: 23vh;
  object-fit: cover;
}
.article-card{
  box-shadow: 0px 0px 33px #00000029;
}
.input-number{
  font-size: 25px;
  font-weight: bold;
}


/***** PANIER *******/
.quantite-input{
  width: 60px;
}

.panel-prix-total{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  left: 0;
}

.card-img-right{
  min-height: 80px;
}


@media screen and (max-width: 767px) {
  .panel-prix-total{
    position: initial;
    position: fixed;
    right: 0;
    margin: 0 !important;
    padding-bottom: 0 !important;
    top: initial;
    
  }

  .panel-liste-articles{
    padding-bottom: 100px;
  }

  .button-delete{
    position: absolute;
    right: 40px;
  }
  .order-btn{
    width: 100%;
    border-radius: 0;
  }
}


  /***** ADMIN ******/
  .vertical-admin-bar-container{
    min-height: 100vh;
  }
  #vertical-admin-content .fade:not(.show) {
    display: none;
  }
  #vertical-admin-content .fade{
    transition: opacity .0s linear;
    display: block;
  }
  #admin-container .vertical-admin-bar-container .fade{
  }
  @media only screen and (max-width: 700px) {
    .vertical-admin-bar-container{
      min-height: initial !important;
    }

    .table-responsive table, 
    .table-responsive thead, 
    .table-responsive tbody, 
    .table-responsive tr, 
    .table-responsive th, 
    .table-responsive td {
        display: block;
    }
    
    .table-responsive thead {
        display: none;
    }
    
    .table-responsive td {
        padding-left: 150px;
        position: relative;
        margin-top: -1px;
        background: #FFF;
        word-break: break-all;
    }
    
    .table-responsive td:nth-child(odd) {
        background-color: #eee;
    }
    
    .table-responsive td::before {
        padding: 10px;
        content: attr(data-label);
        position: absolute;
        top: 0;
        left: 0;
        width: 130px;
        bottom: 0;
        background-color: #909090;
        color: #FFF;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    
    .table-responsive tr {
        margin-bottom: 1rem;
    }
    
    .table-responsive th + td {
        padding-left: 10px;
    }
    
    }



