* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Nunito", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.input-xs {
  height: 22px !important;
  padding: 2px 5px !important;
  font-size: 12px !important;
  line-height: 1.5;
  /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}