



<a href="categories/view/<%= categorie.id %>">
    <div class="card  text-center text-white bg-dark mb-3" style="max-width: 18rem;">
        <img src="https://c8.alamy.com/compfr/p8cwe7/vetements-pour-femmes-a-la-mode-sur-la-table-p8cwe7.jpg" class="card-img-top" alt="<%= 'categorieArticleName' %>" />
        <div class="card-body">
            <h5 class="card-title"><%= categorie.nom %></h5>
            <p class="card-text"><%= categorie.description %></p>
        </div>
    </div>
</a>
