<a href="categories/view/<%= categorie.id %>">
    <div class="card">
        <img src="https://via.placeholder.com/250" class="card-img-top" alt="<%= 'categorieArticleName' %>" />
        <div class="card-body">
            <h5 class="card-title"><%= categorie.nom %></h5>
            <p class="card-text"><%= categorie.description %></p>
        </div>
    </div>
</a>
