<div class="card">
    <img src="https://via.placeholder.com/75" class="card-img-top" alt="<%= 'categorieArticleName' %>" />
	<div class="card-body">
		<h5 class="card-title"><%= "categorieArticleName" %></h5>
		<p class="card-text">
			<%= "categorieArticleDetails" %>
		</p>
		<p class="card-text">
            <%= "categorieArticlePrix" %>
		</p>
	</div>
</div>
