<a href="/articles">
    <div class="card">
        <img src="https://via.placeholder.com/250" class="card-img-top" alt="<%= 'categorieArticleName' %>" />
        <div class="card-body">
            <h5 class="card-title"><%= "categorieArticleName" %></h5>
            <p class="card-text"><%= 'categorieArticleDescription' %></p>
        </div>
    </div>
</a>
