<% for(let i=0; i < categories.length; i++) {%>
    <div>
        <div>id :<%= categories[i].id %> </div>
        <div>nom : <%= categories[i].nom %></div>
        <div>activé : <%= categories[i].active %></div>
        <br>
    </div>
            
<% } %>