<div class="card">
	<a href=""> 
		<img src="https://via.placeholder.com/150" class="card-img-top" alt="<%= 'categorieArticleName' %>" />
	</a>
		<div class="card-body">
			<h5 class="card-title"><%= "categorieArticleName" %></h5>
		<p class="card-text">
			<%= "categorieArticlePrix" %>
			<form action="" method="post">
				<label for="quantity">Quantité</label>
				<input type="number" name="quantity" class="form-control mb-2" min="0">
				<button class="btn btn-primary w-100" type="submit">Ajouter au panier</button>
			</form>
		</p>
	</div>
</div>
