<% include ../layouts/doctype.ejs %>
<div class="container-fluid">
    <h1>Mon panier</h1>
</div>

<div id="panier"></div>

<% include ../layouts/doctype_end.ejs %>

<script src="/javascripts/panier/my-panier.js"></script>
<script src="/javascripts/panier/ajax.js"></script>